!!! 5
html
  head
    title Zombies!!! &mdash; MMO Zombies
    link( href='//fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400,400italic', rel='stylesheet', type='text/css' )
    link( href='stylesheets/application.css', rel='stylesheet', type='text/css' )
    script() src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript' )
    script( src='/socket.io/socket.io.js', type='text/javascript' )
    script( src='//game.js', type='text/javascript' )
  body!= body
